<div class="main">
  <h3>実施済みKYシート一覧</h3>
  <div class="site_menu">
    <div class="site_create">
      <%= link_to '戻る', site_projects_path(@site) %>
    </div>
  </div>

  <% @ky_sheets.each do |ky_sheet| %>
    <% if ky_sheet.pdf_file.attached? %>
    <div class="site_index">
      <div class="title"><%= ky_sheet.pdf_file.filename %></div>
      <div class="title"><%#= @ky_sheets.construction_date %></div>
      <div class="change">
        <div class="edit"><%= link_to '見る', rails_blob_path(ky_sheet.pdf_file, disposition: "inline") %></div>
        <div class="edit"><%= link_to '削除する', ky_sheet_path(ky_sheet), data: { turbo_method: :delete, project_id: @project.id } %></div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>