<div class="main">
  <h3>実施済みKYシート一覧</h3>
  <div class="site_menu">
    <div class="site_create">
      <%= link_to '戻る', site_projects_path(@site) %>
    </div>
  </div>

  <% @blobs.each do |b| %>
    <div class="site_index">
      <div class="title"><%= b.filename %></div>
      <div class="title"><%#= @ky_sheets.construction_date %></div>
      <div class="change">
        <div class="edit"><%= link_to '見る', rails_blob_path(b, disposition: "inline") %></div>
      </div>
    </div>
  <% end %>
</div>