<div class="main">
  <h3>実施済みKYシート一覧</h3>
  <div class="site_menu">
    <div class="site_create">
      <%= link_to '戻る', site_projects_path(@site) %>
    </div>
  </div>
  
  <% @ky_sheets.each do |ky| %>
  <div class="site_index">
    <div class="title"><%= ky.pdf %></div>
    <div class="title"><%= '〇月〇日' %></div>
    <div class="change">
      <div class="edit"><%= link_to '見る(PDFのプレビュー画面？)' %></div>
    </div>
  </div>
  <% end %>

  
</div>