<%= render "shared/header" %>

<div class="default_format">
  <div class="title">KY活動チェックシート</div>
  <div class="KY">
    <div class="header">
      <div class="">現場名　</div>
      <div class="">工事件名　</div>
      <div class="">会社名　</div>
      <div class="">工事種別　</div>
      <div class="">作業日</div>
      <div class="">カレンダー</div>
    </div>

    <div class="column">
      <div class="">主な作業場所</div>
      <div class="">作業内容</div>
      <div class="">作業に伴うリスク / 危険Point</div>
      <div class="">リスク評価</div>
      <div class="">
        <div class="">危険度</div>
        <div class="">発生率</div>
      </div>
      <div id="", class="">リスクレベル</div>
      <div class="">リスク低減対策</div>
      <div class="">管理者確認サイン</div>
    </div>

    <div class="input_erea">

    </div>

    <div class="check_area">

    </div>

    <div class="sign_area">

    </div>

  </div>
</div>

<%= render "shared/footer" %>