<header>
  <div class="logo">KYシート作成アプリ</div>
  <ul class="list">
    <li><%= link_to '現場一覧', root_path %></li>
    <li>ログアウト</li>
    <li>ログイン</li>
    <li>新規登録</li>
    <li>フォーマット作成</li>
  </ul>
</header>