<div class="main">
  <h3>らまたんKY使用方法</h3>
  <div class="site_menu"></div>
  <div class="site_create">
    <%= link_to 'アプリに移動する', sites_path %>
    <%= link_to '新規登録', new_user_registration_path %>
  </div>
</div>
</div>