<%= render "shared/header" %>

<div class="main">
  <h3>工事作成ページ</h3>
  <div class="site_new">
    <id="name">
    <input id="name", placeholder="工事名　※必須※"></input>
    <id="client">
    <input id="client", placeholder="受注先"></input>
    <id="construction_start">
    <input id="construction_start", placeholder="工期（着工）"></input>
    <id="construction_completion">
    <input id="construction_completion", placeholder="工期（竣工）"></input>
    <id="construction_content">
    <input id="construction_content", placeholder="工事内容"></input>
  </div>

    <div class="button">
      <input id="", type="submit", value="作成"></input>
      <div><%= link_to '戻る', site_projects_path(@site), class: 'return' %></div>
    </div>
</div>

<%= render "shared/footer" %>