.format {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  a {
    @include button-base;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &:first-child {
      background-color: $color-earth;
      color: white;

      &:hover {
        background-color: darken($color-earth, 8%);
      }
    }
  }
}
