<div class="site_index" id="<%= dom_id(location) %>">
  <div class="title"><%= location.content %></div>
  <div class="change">
    <div class="delete"><%= link_to '削除', location_path(@site, location), data: { turbo_method: :delete } %></div>
  </div>
</div>